<%=form_with model:[:admin,@course] do |form|%>
    <div>
        <div>
            <%= form.label :title %>
        </div>
        <div class="flex w-full">
            <%= form.text_field :title %>
        </div>
    </div>
    <div>
        <div>
            <%= form.label :duration %>
        </div>
        <div class="flex w-full">
            <%= form.number_field :duration %>
        </div>
    </div>
    <div>
        <div>
            <%= form.label :price %>
        </div>
        <div class="flex w-full">
            <%= form.text_field :price %>
        </div>
    </div>
    <div class="py-2">
        <div>
            <%=form.label :category%>
        </div>
        <div class="py-2">
            <%= form.collection_select :category_id, Category.order(:name), :id, :name, prompt: "Choose a Category" %>
        </div>
    </div>
    <div class="flex justify-center py-2 text-white">
        <div class="inline-block bg-blue-500 py-2 px-4 rounded">
        <%= form.submit %>
        <div>
    </div>
<%end%>